/*
*C0FDFB
*3A9FCD
*3FB68B
*A5F3FC
*E7F6F2
*FONT:
*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
         
} 

body {
    background-color: #aab0ff;
    font-family: Arial, Helvetica,sans-serif;
             
}
    
header {
    background-color:  #603bee;
    padding: 60px;
    text-align: center;
    color:rgb(75, 7, 131)
    font-weigth bold;

}

nav{
    display: flex;
    background-color: #9e7fee;
    padding: center;
    justify-content: center;
}     
       
            
    nav a {
        color: black;
        padding: 10px;
        text-decoration:none;
        text-align: center;
             
} 
nav a:hover{
        background-color:rgba(113, 198, 216, 0.133);
        color: rgb(151, 125, 227);
    }

   #row{
          display: flex;
          flex-wrap: wrap;
          
     }

     img{
        background-color: rgb(158, 35, 142);
       width: 150px;
       padding: 15px;
       border-radius: 5px;
         box-shadow: 0px 0px 5px #a9b0ff;
     }   

      aside{
        flex: 45%;
        background-color: #9461fa;
        padding: 30px;
        
      }  
       
    main{
        flex: 70%;
        background-color:#ffffff;
        padding: 40px;
      }
    
 article{
    box-shadow: 0px 0px 10px
    #a9b0ff;
    padding: 5px;
    border-radius: 10px;

 }
     
footer{
    background-color: #603bee;
    padding: 40px;
    color:#000000;
    text-align: center;
    font-size: 12px;
    
}
    
@media screen and (max-width: 400px){
    nav{flex-direction: column;
    }
}